@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

.create-mains-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 5px;
  justify-content: center;
  
  
  width: 100%;
  margin-left: 160px;
  
}

h3{
  margin-top: 100px;
  font-family: 'Share Tech', sans-serif;
  font-size: 20px;
  text-align: center;

}

.create-edit-container {
  display: flex;
  flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-left: 100px;
    
}

.create-edit-input {
  display: flex;
  width: 50%;
  flex-direction: wrap;
  padding: 12px 20px;
  margin: 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
    align-self: center;
    font-size: 14px;

}
.description{
   display: flex;
   flex-wrap: wrap;
  width: 50%;
  margin-bottom: 10px;
}


.button {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    height: 40px;
    width: 100px;
    background-color: #000033;
    margin-top: 40px;
    margin-left: 40px;
    padding: 2px;
    color: white;
    border: none;
    box-shadow: 2px 2px 10px 2px #CECECE;
    cursor: pointer;
}

.image-wrap{
  display: flex;
  margin-top: 100px;
}
.image-wrap2{
max-width: 200px;

}

.image-wrap2 input{
  margin-bottom: 220px;
  margin-top: 0px;
}

img{
  content: "";
  bottom: 25px;
  left: 10px;
  
  top: 80%;
  max-width:450px;
  background: #777;
  -webkit-box-shadow: 0 35px 20px #777;
  -moz-box-shadow: 0 35px 20px #777;
  box-shadow: 0 35px 20px #777;
  -webkit-transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
  -o-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  transform: rotate(-1deg);
  margin-bottom: 60px;
  margin-left: 100px;
}







@media screen and (max-width: 600px) {
 
}